


/*overriding colours of navbar light to my colour scheme*/
.navbar-light{
    background-color: #72788d;
}
.navbar-light .navbar-brand {
    color: #1b1b1e;
  }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgb(255, 255, 255);
    
  }
  .navbar-light .navbar-nav .nav-link {
    color: #1b1b1e;
  }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgb(255, 255, 255);
  }
  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(27,27,30,0.3);
}
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .nav-link.active {
    color: rgba(27,27,30,0.9);
  }
  .navbar-light .navbar-toggler {
    color: rgba(114,120,141,0.55);
    border-color: rgba(114,120,141,0.1);
  }
  .navbar-light .navbar-text {
    color: rgba(27,27,30,0.55);
  }
  .navbar-light .navbar-text a,
  .navbar-light .navbar-text a:hover,
  .navbar-light .navbar-text a:focus {
    color: rgba(239,233,244,0.9);
  }

  
  /*coloring the body of the page*/
  body {
    background-color: #efe9f4;
    color: #1b1b1e;
  }

  /*colour success button, used for agree statements*/
  .btn-outline-success {
    color: #1b1b1e;
    border-color: #5fad41;
  }
  .btn-outline-success:hover {
    color: #ffffff;
    background-color: #5fad41;
    border-color: #5fad41;
  }
  .btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem rgba(95,173,65, 0.5);
  }
  .btn-check:checked + .btn-outline-success, .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
    color: #ffffff;
    background-color: #5fad41;
    border-color: #5fad41;
  }
  .btn-check:checked + .btn-outline-success:focus, .btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(95,173,65, 0.5);
  }
  .btn-outline-success:disabled, .btn-outline-success.disabled {
    color: #5fad41;
    background-color: transparent;
  }

  /*colour danger button, used for disagree statements*/
  .btn-outline-danger {
    color: #1b1b1e;
    border-color: #ff7f11;
  }
  .btn-outline-danger:hover {
    color: #fff;
    background-color: #ff7f11;
    border-color: #ff7f11;
  }
  .btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.25rem rgba(255,127,17,0.5);
  }
  .btn-check:checked + .btn-outline-danger, .btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
    color: #fff;
    background-color: #ff7f11;
    border-color: #ff7f11;
  }
  .btn-check:checked + .btn-outline-danger:focus, .btn-check:active + .btn-outline-danger:focus, .btn-outline-danger:active:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba((255,127,17,0.5));
  }
  .btn-outline-danger:disabled, .btn-outline-danger.disabled {
    color: #ff7f11;
    background-color: transparent;
  }
  

  /*colour secondary buttons, used for general butttons*/
  .btn-outline-secondary {
    color: #1b1b1e;
    border-color: #1b1b1e;
  }
  .btn-outline-secondary:hover {
    color: rgb(255, 255, 255);
    background-color: #72788D;
    border-color: #72788D;
  }
  .btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.25rem rgba(114,120,141,1)
  }
  .btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
    color: rgb(255, 255, 255);
    background-color: #72788D;
    border-color: #72788D;
  }
  .btn-check:checked + .btn-outline-secondary:focus, .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(114,120,141,1);
  }
  .btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
    color: #1b1b1e;
    background-color: transparent;
  }


  /*colour text area*/
  #argument {
    background-color: #efe9f4;
    color: #1b1b1e;
  }
