<!DOCTYPE html>
<head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/aboutPage.css') }}" rel="stylesheet"/>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Agree to Disagree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/answers">Answers Mode</a>
                </li>
            </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/questions">Questions Mode</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/vote">Voting Mode</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="p-2 d-flex justify-content-center">
        <h1>About Agree to Disagree</h1>
    </div>

    <div class="p-2 col-md-3 offset-md-3"><h3>Data Use</h3></div>
    <div class="p-2 col-6 offset-md-3 justify-content-center">
        <p>We collect no personal or identifiying data on our users. The only data that we do collect is all of the debates, responses and votes that occur.
          If you would like to see the data that has been collected by Agree to Disagree click the button on the main menu.
        </p>
    </div>

    <div class="p-2 col-md-3 offset-md-3"><h3>About the Project</h3></div>
    <div class="p-2 col-6 offset-md-3 justify-content-center">
        <p>The idea of this project was to create a tool for generating datasets of argument data that can be used in research. This dataset can be downloaded
          from the main menu. Feel free to use this dataset in whatever projects you would like, data is stored in SADFace formatted json files (the project can be found
          <a href="https://github.com/Open-Argumentation/SADFace">here</a>). Agree to Disagree is open source and the GitHub repo can be found <a href="https://github.com/jonny-binns/Honours-Project">here</a>,
          feel free to run it on a personal server and collect your own dataset. The website is a python flask based app so it can be ran like any other flask app.
        </p>
    </div>

</body>