<!DOCTYPE html>
<head>
    <Title>Answers Mode</Title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/argumentMode.css') }}" rel="stylesheet"/>
</head>


<body>  
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Agree to Disagree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/questions">Questions Mode</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/vote">Voting Mode</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
    </nav>


    <div class="p-2 d-flex justify-content-center">
        <h1>Prompt: {{prompt}}</h1>
    </div>

    <div class="p-2 d-flex justify-content-center">
      <h2>Current Argument: {{currentArgument}}</h2>
  </div>
    

    <form action="" method="POST" name="form" id="replyForm">
      <input type="hidden" id="prompt" name="prompt" value="{{prompt}}"></input>
      
        <div class="d-flex justify-content-center">
            <div class="p-2 btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="parent" id="proArgumentReply" value="{{proArgument}}" autocomplete="off">
                <label class="btn btn-outline-success" for="proArgumentReply">{{proArgument}}</label></input>
              
                <input type="radio" class="btn-check" name="parent" id="newReply" value="newReply" autocomplete="off">
                <label class="btn btn-outline-secondary" for="newReply">Click here to respond directly to the debate prompt</label></input>
              
                <input type="radio" class="btn-check" name="parent" id="conArgumentReply" value="{{conArgument}}" autocomplete="off">
                <label class="btn btn-outline-danger" for="conArgumentReply">{{conArgument}}</label></input>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="p-2 btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="stance" id="agreeArgument" value="agree" autocomplete="off">
                <label class="btn btn-outline-success" for="agreeArgument">Agree</label></input>

                <input type="radio" class="btn-check" name="stance" id="disArgument" value="disagree" autocomplete="off">
                <label class="btn btn-outline-danger" for="disArgument">Disagree</label></input>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" href="/answers/" class="btn btn-outline-secondary">Skip</button>
            <textarea form="replyForm" type="text" name="newArgument" id="newArgument" placeholder="Enter reply here"></textarea>
            <input type="submit" name="submit" id="submit" class="btn btn-outline-secondary"></input>
        </div>
    </form>
</body>
</html>