<!DOCTYPE html>
<head>
    <Title>Answers Mode</Title>
</head>


<body>
    <div>
        <h1>{{prompt}}</h1>
        <h2>{{proArgument}}</h2>
        <h2>{{conArgument}}</h2>
    </div>
    
    <div class="d-flex justify-content-center">

        <form action="" method="POST" name="form">
            <button type="button" href="/answers/">Skip</button>
            <input type="text" name="answer" id="name"/>
            <input type="submit" name="submit" id="submit"/>
        </form>
    </div>
</body>
</html>