<!DOCTYPE html>
<head>
    <title>Questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/questionMode.css') }}" rel="stylesheet"/>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Agree to Disagree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/answers">Answers Mode</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/vote">Voting Mode</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
    </nav>


    <div class="p-2 d-flex justify-content-center">
        <h2>Heres a random prompt from our databse for inspiration:</h2>
    </div>
    <div class="p-2 d-flex justify-content-center">
        <h1 class="p-2">{{examplePrompt}}</h1>
    </div>


    <form action="" method="POST" name="form" id="replyForm">
        <div class="d-flex justify-content-center">
            <button type="button" href="/answers/" class="btn btn-outline-secondary">Skip</button>
            <textarea form="replyForm" type="text" name="prompt" id="prompt" placeholder="Enter new debate prompt here"></textarea>
            <input type="submit" name="submit" id="submit" class="btn btn-outline-secondary"></input>
        </div>
    </form>

</body>